.profile_img_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -2.8rem;
  }
  
  .profile_w_left {
    display: flex;
    gap: 1rem;
    padding: 1rem 13px 0 13px;
  }
  
  .profile_w_img {
    position: relative;
  }
  
  .profile_w_bg {
    width: 168px;
    height: 168px;
    transform: translateY(-3.6rem);
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 2px solid white;
    background: #fff;
    cursor: pointer;
  }
  
  .profile_w_bg:hover {
    filter: brightness(95%);
  }
  
  .profile_circle {
    position: absolute;
    bottom: 4.5rem;
    right: 0.55rem;
    background: var(--bg-third);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  
  .profile_name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
  }
  
  .profile_w_right {
    display: flex;
    gap: 8px;
    padding: 0 18px;
    margin-bottom: 7px;
  }
  
  .invert {
    filter: invert(100%);
  }
  /* ---------------------------- */
  
  /* friends  */
  .profile_friends_count {
    font-weight: 600;
  }
  
  .profile_friend_imgs {
    display: flex;
    align-items: center;
  }
  
  .profile_friend_imgs img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 1px 2px var(--shadow-1);
    margin-top: 10px;
    object-fit: cover;
  }
  
  /* ----------------- */
  
  .edit_icon {
    background-image: url('../../../../public/icons/icons18.png');
    background-position: -34px -109px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
  }
  

  
 
  
  /* --------------- */