.profile_menu_wrap {
  position: relative;
  padding: 0 2.2rem;
}

.profile_menu {
  position: relative;
  border-top: 1px solid #ccced2;
  display: flex;
  padding: 0;
}

.profile_menu a {
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 15px;
  border-radius: 8px;
  margin: 3px 0;
  color: #65676b;
}

.p10_dots {
  background: #e4e6eb;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 5px;
  display: grid;
  display: flex;
  align-items: center;
  place-items: center;
  padding: 8px 14px;
}

.p10_dots svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
}
