/* стили для всего header  */
header {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 99;
  background: #fff;
  width: 100%;
  box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
}

/* --------------------------------------------- */

/* стили для header left */
.header_left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 1rem;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f0f2f5;
  padding: 10px 32px 10px 10px;
  border-radius: 50px;
  cursor: text;
}
.search input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;

  font-family: inherit;
}
.search input::placeholder {
  transform: translateY(-1px);
}

/* ----------------------- */

/* стили ждя header middle  */

.header_middle {
  display: flex;
  align-items: center;
  gap: 14px;
  transform: translateX(3px);
}

.middle_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-2px);
}

.active {
  border-bottom: 3px solid #1876f2;
  border-radius: 0 !important;
  height: 56px;
  transform: translateX(0);
}

/* ------------------- */

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0.8;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  bottom: -44px;
  left: -30px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ----------------- */
/* header right  */

.header_right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.circle_icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: #e4e6eb;
  cursor: pointer;
}

/* ------------------- */
